<?xml version="1.0" encoding="UTF-8"?><warehouses><warehouse><name>w1</name><product><name>CD</name><initialcount>10</initialcount><minimumcount>5</minimumcount><availablecount>5</availablecount></product><product><name>DVD</name><initialcount>50</initialcount><minimumcount>10</minimumcount><availablecount>44</availablecount></product></warehouse><warehouse><name>w2</name><product><name>DISK</name><initialcount>11</initialcount><minimumcount>6</minimumcount><availablecount>7</availablecount></product><product><name>monitor</name><initialcount>11</initialcount><minimumcount>6</minimumcount><availablecount>6</availablecount></product></warehouse></warehouses>